/* Add these styles if needed for more precise flag colors */
.ncc-flag-red {
  background-color: #FF4B55;
}

.ncc-flag-navy {
  background-color: #41479B;
}

.ncc-flag-light-blue {
  background-color: #7BD3F7;
} 